<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%include common-header.ejs %>
    <link rel="stylesheet" href="/css/about.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/upload/<%= globalParams.ABOUT_US_BANNER %>" alt="">
        <!-- category -->
        <div class="plate-category">
            <div class="collapse-category hidden-xs">
                <a href="/about/synopsis" class="<%= currentNavType=='synopsis'?'active':'' %>">公司简介</a>
                <a href="/about/progress" class="<%= currentNavType=='progress'?'active':'' %>">企业历程</a>
                <a href="/about/honor" class="<%= currentNavType=='honor'?'active':'' %>">荣誉历程</a>
                <a href="/about/recruit" class="<%= currentNavType=='recruit'?'active':'' %>">招贤纳士</a>
                <a href="/about/partner" class="<%= currentNavType=='partner'?'active':'' %>">合作伙伴</a>
                <a href="/about/contact" class="<%= currentNavType=='contact'?'active':'' %>">联系我们</a>
            </div>
            <div class="collapse-category visible-xs">
                <a href="/about/synopsis" class="<%= currentNavType=='synopsis'?'active':'' %>">简介</a>
                <a href="/about/progress" class="<%= currentNavType=='progress'?'active':'' %>">历程</a>
                <a href="/about/honor" class="<%= currentNavType=='honor'?'active':'' %>">荣誉</a>
                <a href="/about/recruit" class="<%= currentNavType=='recruit'?'active':'' %>">招贤</a>
                <a href="/about/partner" class="<%= currentNavType=='partner'?'active':'' %>">伙伴</a>
                <a href="/about/contact" class="<%= currentNavType=='contact'?'active':'' %>">联系我们</a>
            </div>
        </div>