<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%include common-header.ejs %>
    <link rel="stylesheet" href="/css/cases.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/upload/<%= globalParams.SUCCESSFULL_CASE_BANNER %>" alt="">
        <!-- category -->
        <div class="plate-category">
            <div>
                <span>成功案例</span>
            </div>
        </div>

        <!-- cases -->
        <div class="cases-container">
            <div class="cases-swiper-container">
                <div class="swiper-outer-trigger prev"></div>
                <div class="swiper-outer-trigger next"></div>
                <div class="swiper-container cases-swiper">
                    <div class="swiper-wrapper">
                        <% for(var i=0,item; item=cases[i++]; ) { %>
                            <div class="swiper-slide swiper-slide-case" data-id="<%= item.id %>">
                                <a href="/cases/<%= item.id %>" class="case-item">
                                    <img src="/upload/<%= item.cover %>" alt="">
                                    <p><%= item.title %></p>
                                </a>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!-- foot -->
        <%include foot.ejs %>

        <script src="/js/cases.js"></script>
</body>

</html>