<!-- category -->
<div class="foot-category hidden-xs">
    <div class="row">
        <div class="col-sm-2">
            <ul>
                <li>
                    <a href="/products">产品与方案</a>
                </li>
                <% for(var i=0,item; item=indexContents.products[i++];) { %>
                    <li>
                        <a href="/products/<%= item.id %>">
                            <%= item.title %>
                        </a>
                    </li>
                    <% } %>
                        <li>
                            <a href="/products">更多>></a>
                        </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <ul>
                <li>
                    <a href="/support/home">服务与支持</a>
                </li>
                <li>
                    <a href="/support/implementation">项目实施</a>
                </li>
                <li>
                    <a href="/support/train">客户培训</a>
                </li>
                <li>
                    <a href="/support/afterservice">售后服务</a>
                </li>
                <li>
                    <a href="/support/home">更多>></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <ul>
                <li>
                    <a href="/cases">成功案例</a>
                </li>
                <% for(var i=0,item; item=indexContents.cases[i++];) { %>
                    <li>
                        <a href="/cases/<%= item.id %>">
                            <%= item.title %>
                        </a>
                    </li>
                    <% } %>
                        <li>
                            <a href="/cases">更多>></a>
                        </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <ul>
                <li>
                    <a href="/news">新闻中心</a>
                </li>
                <% for(var i=0,item; item=indexContents.news[i++];) { %>
                    <li>
                        <a href="/news/<%= item.id %>">
                            <%= item.title %>
                        </a>
                    </li>
                    <% } %>
                        <li>
                            <a href="/news">更多>></a>
                        </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <ul>
                <li>
                    <a href="/about/partner">合作伙伴</a>
                </li>
                <% for(var i=0,item; item=indexContents.partners[i++];) { %>
                    <li>
                        <a href="javascript:;">
                            <%= item.title %>
                        </a>
                    </li>
                    <% } %>
                        <li>
                            <a href="/about/partner">更多>></a>
                        </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <ul>
                <li>
                    <a href="/about/synopsis">关于我们</a>
                </li>
                <li>
                    <a href="/about/synopsis">
                        公司简介
                    </a>
                </li>
                <li>
                    <a href="/about/progress">
                        企业历程
                    </a>
                </li>
                <li>
                    <a href="/about/honor">
                        荣誉历程
                    </a>
                </li>
                <li>
                    <a href="/about/contact">
                        联系我们
                    </a>
                </li>
                <li>
                    <a href="/about">更多>></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- copyright -->
<div class="copyright">
    <div>
            <%- globalParams.COPYRIGHT %>
    </div>
</div>


<!-- jquery -->
<script src="/vendor/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- swiper -->
<script src="/vendor/swiper/swiper-3.4.2.jquery.min.js"></script>
<!-- sidenav -->
<script src="/vendor/sidenav/sidenav.min.js"></script>
<!-- main -->
<script src="/js/global.js"></script>