<!-- header -->
<div class="top-header">
    <div>
        <a href="javascript:;" style="float:left;" class="toggle visible-xs" id="sidenav-toggle">
            <i class="glyphicon glyphicon-th-list" style="color:#FFF;font-size:18px;display:inline-block;vertical-align: middle;margin-top: -5px;"></i>
            <span style="color:#FFF;">西安商通软件</span>
        </a>
        <span class="hidden-xs">
            <%= globalParams.INDEX_WELCOME_TIP %>
        </span>
        <span style="float:right;">
            <img src="/img/top-phone.png" />咨询热线：
            <a href="tel:<%= globalParams.INDEX_CONTACT_PHONE %>">
                <%= globalParams.INDEX_CONTACT_PHONE %>
            </a>
        </span>
    </div>
</div>
<div class="sangto-header hidden-xs">
    <img src="/img/logo.jpg" alt="">
    <ul id="header" class="sangto-nav">
        <li class="header-home">
            <a href="/">首页</a>
        </li>
        <li class="header-products" data-toggle="products">
            <a href="/products">产品与方案</a>
        </li>
        <li class="header-support">
            <a href="/support/home">服务与支持</a>
        </li>
        <li class="header-cases" data-toggle="cases">
            <a href="/cases">成功案例</a>
        </li>
        <li class="header-news">
            <a href="/news">新闻中心</a>
        </li>
        <li class="header-about">
            <a href="/about/synopsis">关于我们</a>
        </li>
    </ul>
</div>
<div class="sangto-categorys sangto-categorys-products" data-toggle="products">
    <% for(var i=0,item;item=indexContents.categoryProducts[i++];){ %>
        <ul>
            <li>
                <%= globalParams.DictionaryMap.PRODUCTS_CATEGORY[item.category] %>
            </li>
            <% for(var j=0,p;p=item.products[j++];){ %>
                <li>
                    <a href="/products/<%= p.id %>">
                        <%= p.title %>
                    </a>
                </li>
                <% } %>
        </ul>
        <% } %>
</div>
<div class="sangto-categorys sangto-categorys-cases" data-toggle="cases">
    <% for(var i=0,item;item=indexContents.categoryCases[i++];){ %>
        <ul>
            <li>
                <%= globalParams.DictionaryMap.CASES_CATEGORY[item.category] %>
            </li>
            <% for(var j=0,p;p=item.cases[j++];){ %>
                <li>
                    <a href="/cases/<%= p.id %>">
                        <%= p.title %>
                    </a>
                </li>
                <% } %>
        </ul>
        <% } %>
</div>
<!-- sidenav -->
<nav class="sidenav visible-xs" data-sidenav data-sidenav-toggle="#sidenav-toggle">
    <div>
        <img style="width:100%;" src="/img/logo.jpg" alt="">
    </div>

    <ul class="sidenav-menu">
        <li class="header-home">
            <a href="/">首页</a>
        </li>
        <li class="header-products">
            <a href="/products">产品与方案</a>
        </li>
        <li class="header-support">
            <a href="/support/home">服务与支持</a>
        </li>
        <li class="header-cases">
            <a href="/cases">成功案例</a>
        </li>
        <li class="header-news">
            <a href="/news">新闻中心</a>
        </li>
        <li class="header-about">
            <a href="/about/synopsis">关于我们</a>
        </li>
        <!-- <li class="header-about">
            <a href="javascript:;" data-sidenav-dropdown-toggle >关于我们</a>
            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                <li>
                    <a href="javascript:;">公司简介</a>
                </li>
                <li>
                    <a href="javascript:;">企业历程</a>
                </li>
                <li>
                    <a href="javascript:;">荣誉历程</a>
                </li>
            </ul>
        </li> -->
    </ul>
</nav>