<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%include common-header.ejs %>
        <link rel="stylesheet" href="/css/index.css" />
</head>

<body>

    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <div class="swiper-container banner-swiper">
            <div class="swiper-wrapper">
                <% for(var i=0,item; item=globalParams.INDEX_BANNERS.split(',')[i++]; ) { %>
                    <div class="swiper-slide">
                        <img src="/upload/<%= item %>" alt="">
                    </div>
                    <% } %>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <!-- products -->
        <div class="container-fluid plate">
            <div class="plate-title">
                <div class="main-title">产品与方案</div>
            <div class="sub-title">Products And Cases</div>
        </div>
        <div class="index-swiper-container">
            <div class="swiper-outer-trigger prev"></div>
            <div class="swiper-outer-trigger next"></div>
            <div class="swiper-container product-swiper">
                <div class="swiper-wrapper">
                    <% for(var i=0,item; item=indexContents.products[i++]; ) { %>
                        <div class="swiper-slide col-xs-4 swiper-slide-product">
                            <div class="img-box">
                                <a href="/products/<%= item.id %>">
                                    <img src="/upload/<%= item.cover %>" alt="<%= item.title %>" title="<%= item.title %>">
                                </a>
                            </div>
                            <div class="product-title">
                                <a href="/products/<%= item.id %>">
                                    <%= item.title %>
                                </a>
                            </div>
                            <p>
                                <a href="/products?category=<%= item.category %>">
                                    <%= globalParams.DictionaryMap.PRODUCTS_CATEGORY[item.category] %>
                                </a>
                                <span class="hidden-xs">&nbsp;->&nbsp;
                                    <%= item.title %>
                                </span>
                            </p>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
        </div>
        <!-- successful-cases -->
        <div class="container-fluid plate">
            <div class="plate-title">
                <div class="main-title">成功案例</div>
                <div class="sub-title">Successful Stories</div>
            </div>
            <div class="row case-container">
                <% for(var i=0,item; item=indexContents.cases[i++];) { %>
                    <div class="case-item col-xs-6 col-sm-4">
                        <a style="display:inline-block;" href="<%= '/cases/'+item.id %>">
                            <img src="/upload/<%= item.cover %>" alt="">
                        </a>
                        <div class="case-title">
                            <a href="<%= '/cases/'+item.id %>">
                                <%= item.title %>
                            </a>
                        </div>
                        <div class="sub-title">大型连锁百货 -> 兰州国芳百盛</div>
                    </div>
                    <% } %>
                        <div class="case-item col-xs-6 col-sm-4">
                            <a style="display:inline-block;" href="/cases">
                                <img src="/upload/img/more.png" alt="">
                            </a>
                            <div class="case-title">查看更多</div>
                            <div class="sub-title">查看更多</div>
                        </div>
            </div>
        </div>
        <!-- news -->
        <div class="container-fluid plate">
            <div class="plate-title">
                <div class="main-title">新闻中心</div>
                <div class="sub-title">News Center</div>
            </div>
            <div class="row news-container">
                <% for(var i=0,item; item=indexContents.news[i++];) { %>
                    <div class="news-item col-sm-6">
                        <a style="display:inline-block;" href="<%= '/news/'+item.id %>">
                            <img src="/upload/<%= item.cover %>" alt="">
                        </a>
                        <div>
                            <div>
                                <div class="news-date">
                                    <div>
                                        <%= moment(item.createTime).format('DD') %>
                                    </div>
                                    <div>
                                        <%= moment(item.createTime).format('YYYY.MM') %>
                                    </div>
                                </div>
                                <div class="news-title">
                                    <a href="<%= '/news/'+item.id %>">
                                        <%= item.title %>
                                    </a>
                                </div>
                            </div>
                            <div class="news-digest">
                                <%= item.digest %>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

        <!-- about us -->
        <div class="about-us">
            <div class="title">
                关于我们
                <br> About us
            </div>
            <div class="content">
                <%- globalParams.ABOUT_US %>
            </div>
        </div>

        <!-- foot -->
        <%include foot.ejs %>

            <!-- jquery -->
            <script src="/vendor/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
            <!-- swiper -->
            <script src="/vendor/swiper/swiper-3.4.2.jquery.min.js"></script>
            <!-- main -->
            <script src="/js/global.js"></script>
            <script src="/js/index.js"></script>
</body>

</html>