<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <!-- style -->
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/swiper/swiper-3.4.2.min.css" />
    <link rel="stylesheet" href="/css/news-detail.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/img/banner/4.png" alt="">
        <!-- category -->
        <div class="plate-breadcrumb">
            <ul>
                <li><a href="/sangto/index">首页</a></li>
                <li><a href="/sangto/news">新闻中心</a></li>
                <li><a href="/sangto/news?category=<%= news.category %>">公司动态</a></li>
                <li>恭贺四川德阳洋洋百货悦家店开业大吉</li>
            </ul>
        </div>

        <!-- news -->
        <div class="news-detail-container">
            <div class="news-detail-title">
                <h3><%= news.title %></h3>
                <p>
                    <span>发布时间：<%= moment(news.createTime).format('YYYY-MM-DD HH:mm:ss') %></span>
                    <span>发布来源：<%= news.publishUser %></span>
                    <span>浏览次数：2076次</span>
                </p>
            </div>
            <div class="news-detail-content">
                    <%- news.content %>
            </div>
            <div class="news-detail-footer">
                <div>
                    <a href="/sangto/news?category=<%= news.category %>" class="btn btn-sm btn-warning">返回</a>
                </div>
                <% if(nextNews){ %>
                <p>
                    <span>下一篇：</span>
                    <a href="/sangto/news/<%=nextNews.id%>"><%= nextNews.title %></a>
                </p>
                <% } %>
            </div>
        </div>

        <!-- foot -->
        <%include foot.ejs %>

            <!-- jquery -->
            <script src="/vendor/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
            <!-- swiper -->
            <script src="/vendor/swiper/swiper-3.4.2.jquery.min.js"></script>
            <!-- main -->
            <script src="/js/global.js"></script>
            <script src="/js/news-detail.js"></script>
</body>

</html>