<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <!-- style -->
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/swiper/swiper-3.4.2.min.css" />
    <link rel="stylesheet" href="/css/news.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/img/banner/4.png" alt="">
        <!-- category -->
        <div class="plate-category">
            <div>
                <% for(var i=0; i<newsCategories.length; i++) { %>
                    <a class="<%= currentCategory==newsCategories[i].value?'active':'' %>" href="<%= currentCategory==newsCategories[i].value?'javascript:;':('/sangto/news?category='+newsCategories[i].value) %>"><%=newsCategories[i].name%></a>
                <% } %>
            </div>
        </div>

        <!-- news -->
        <div class="news-container">
            <% for(var i=0,item; item=news.rows[i++];) { %>
                <div class="news-item row">
                    <img class="col-xs-3" src="/<%= item.cover %>" alt="">
                    <div class="col-xs-9">
                        <div class="news-title">
                            <a href="<%= '/sangto/news/'+item.id %>"><%=item.title %></a>
                        </div>
                        <div class="hidden-xs news-info">
                                <%= moment(item.createTime).format('YYYY-MM-DD HH:mm:ss') %>
                        </div>
                        <div class="news-degist">
                            <%=item.digest %>
                        </div>
                        <div class="news-toolbar">
                            <div class="news-info-xs visible-xs pull-left">
                                    <%= moment(item.createTime).format('YYYY-MM-DD HH:mm:ss') %>
                            </div>
                            <a href="<%= '/sangto/news/'+item.id %>" class="btn btn-warning hidden-xs pull-right">查看更多</a>
                            <a href="<%= '/sangto/news/'+item.id %>" class="btn btn-xs btn-warning visible-xs pull-right">查看更多</a>
                        </div>
                    </div>
                </div>

                <% } %>
                
                <% if(totalPage>1){ %>
                    <nav aria-label="..." style="text-align:center;">
                        <ul class="pagination">
                            <li class="<%= currentPage==1?'disabled':'' %>">
                                <a href="<%= currentPage==1?'javascript:;':('/sangto/news?category='+currentCategory+'&pageNumber='+(+currentPage-1)) %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% for(var i=1; i<=totalPage;i++) { %>
                            <li class="<%= currentPage==i?'active':'' %>">
                                <a href="<%= currentPage==i?'javascript:;':('/sangto/news?category='+currentCategory+'&pageNumber='+i) %>"> <%= i %>
                                </a>
                            </li>
                            <% } %>
                            <li class="<%= currentPage==totalPage?'disabled':'' %>">
                                <a href="<%= currentPage==totalPage?'javascript:;':('/sangto/news?category='+currentCategory+'&pageNumber='+(+currentPage+1)) %>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                <% } %>
        </div>

        <!-- foot -->
        <%include foot.ejs %>

            <!-- jquery -->
            <script src="/vendor/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
            <!-- swiper -->
            <script src="/vendor/swiper/swiper-3.4.2.jquery.min.js"></script>
            <!-- main -->
            <script src="/js/global.js"></script>
            <script src="/js/news.js"></script>
</body>

</html>