<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%include common-header.ejs %>
    <link rel="stylesheet" href="/css/news-detail.css" />
</head>

<body>
    <!-- header -->
    <%include header.ejs %>

        <!-- banner -->
        <img class="huge-banner" src="/upload/<%= globalParams.NEWS_BANNER %>" alt="">
        <!-- category -->
        <div class="plate-breadcrumb">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/news">新闻中心</a></li>
                <li><a href="/news?category=<%= news.category %>"><%= globalParams.DictionaryMap.NEWS_CATEGORY[news.category] %></a></li>
                <li><%= news.title %></li>
            </ul>
        </div>

        <!-- news -->
        <div class="news-detail-container">
            <div class="news-detail-title">
                <h3><%= news.title %></h3>
                <p>
                    <span>发布时间：<%= moment(news.createTime).format('YYYY-MM-DD HH:mm:ss') %></span>
                    <span>发布来源：<%= news.publishUser %></span>
                    <span>浏览次数：2076次</span>
                </p>
            </div>
            <div class="news-detail-content">
                    <%- news.content %>
            </div>
            <div class="news-detail-footer">
                <div>
                    <a href="/news?category=<%= news.category %>" class="btn btn-sm btn-warning">返回</a>
                </div>
                <% if(nextNews){ %>
                <p>
                    <span>下一篇：</span>
                    <a href="/news/<%=nextNews.id%>"><%= nextNews.title %></a>
                </p>
                <% } %>
            </div>
        </div>

        <!-- foot -->
        <%include foot.ejs %>

        <script src="/js/news-detail.js"></script>
</body>

</html>